.aboutMe {
    margin-bottom: 24px;
}

.aboutmeCard {
    border-color: #3D3D3D;
    color: white;
    padding: 12px 30px 12px 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgWrapper {
    padding: 12px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    
}

.aufaimage {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
    border-width: 0.35rem;
    border-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.textWrapper {
    /* margin-top: px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textWrapper h1 {
    color: #F4D160;
}

.textWrapper p {
    font-size: 18px;
    width: 50vw;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .textWrapper p {
        font-size: 18px;
    }
    .aboutmeCard {
        display: flex;
        flex-direction: column;
    }
    .textWrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .textWrapper p {
        font-size: 14px;
        width: 80vw;
        text-align: center;
    }
}


@media screen and (max-width: 768px) {
    .textWrapper {
        text-align: center;
    }
    .aboutmeCard {
        display: flex;
        flex-direction: column;
    }
}